.box,
.title,
.myForm,
.inputBox,
.formLabel,
.formInput,
.saveurBox,
.saveurContenerBox,
.saveurContent,
.saveurData,
.saveurDataImage,
.saveurDataText,
.saveurQte,
.saveurDataPrix,
.saveurDataQte {
  /* height: 100vh; */
  /* border: solid red 1px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  flex-direction: row;
  justify-items: flex-start;
  padding: 10px 0px 20px 10px;
  font-size: 2rem;
  color: var(--bgColor);
}

.inputBox {
  /* border: solid red 1px; */
  margin-bottom: 15px;
  text-align: left;
}

.formLabel {
  /* border: solid green 1px; */
  align-items: flex-start;
  padding-left: 10px;
  font-size: 1.6rem;
  font-weight: bolder;
}

.formInput {
  /* border: solid blue 1px; */
  padding-left: 10px;
}

/*********** Saveurs ***********/

.saveurBox {
  /* border: solid blue 1px; */
  flex-direction: row;
  margin: 10px 0px 10px 0px;
  justify-content: space-around;
}

.saveurContenerBox {
  /* border: solid red 1px; */
  width: 98%;
  flex-direction: column;
}

.saveurData {
  border: solid var(--Primary) 2px;
  border-radius: 10px;
  padding: 0px 0px 0px 0px;
}

.saveurDataImageBox {
  /* border: solid blue 1px; */
  width: 100%;
  margin-bottom: 10px;
}

.saveurDataImage {
  /* border: solid blue 1px; */
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.saveurDataTitle {
  /* border: solid blue 1px; */
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  padding: 5px 0px 5px 5px;
}

.saveurDataPrix,
.saveurDataQte {
  /* border: solid green 1px; */
  flex-direction: row;
  justify-content: flex-start;
}

.saveurDataTextItem {
  /* border: solid red 1px; */
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 5px 0px 5px 5px;
}

.saveurDataTextNumber {
  /* border: solid green 1px; */
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 10px;
}

.saveurDataQteText {
  /* border: solid red 1px; */
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 5px 0px 5px 5px;
}

.saveurDataQteNumber {
  /* border: solid green 1px; */
  width: 30%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 10px;
}

.myCheckboxBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
