.box,
.handlePostButtonBox,
.handlePostButton,
.pseudoDateBox,
.postBody,
.postItems,
.postPictureBox,
.postPictureInstructions {
  /* height: 300px; */
  /* border: solid red 1px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.box {
  /* border: solid red 1px; */
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 10px 0px;
  box-shadow: var(--shadow);
}

.cards {
  /* border: solid red 1px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfo {
  /* border: solid red 1px; */
  width: 98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 5px 0px;
  border-bottom: solid var(--Primary) 1px;
  padding-bottom: 5px;
}

/** User  Box **/

.userImageBox {
  /* border: solid green 1px; */
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
}

.userImage {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-radius: 50%;
}

.pseudoDateBox {
  /* border: solid green 1px; */
  padding: 0px 0px 0px 5px;
  text-align: left;
}

.userpseudo {
  /* border: solid green 1px; */
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
}

.postDate {
  /* border: solid green 1px; */
  width: 100%;
}

.lieuxBox {
  /* border: solid green 1px; */
  width: 100%;
}

.userpseudo,
.postDate,
.lieuxBox {
  padding: 2px 0px 2px 0px;
}

.phoneBox {
  /* border: solid green 1px; */
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}

.phoneIncone {
  /* border: solid green 1px; */
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  color: var(--Primary);
}

.phoneCta {
  padding-top: 5px;
  font-size: 1rem;
}

/********** Corps du post **********/

.postBody {
  /* border: solid green 1px; */
  text-align: left;
  justify-content: left;
}

.postPictureBox {
  /* border: solid red 1px; */
  border-bottom: solid var(--Primary) 1px;
}

.postPictureInstructions {
  align-items: flex-start;
  padding-left: 10px;
  flex-direction: row;
  margin: 5px 0px 5px 0px;
  font-size: 1.5rem;
  margin: 10px 0px 10px 0px;
  text-align: center;
}

.postItems {
  /* border: solid green 1px; */
  align-items: flex-start;
  flex-direction: column;
  margin: 10px 0px 5px 0px;
  align-items: baseline;
}

.postItemsTitle {
  /* border: solid red 1px; */
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 5px;
}

.postItemsData {
  /* border: solid red 1px; */
  font-size: 1.3rem;
  padding-left: 5px;
}

.inputInfo {
  /* border: solid blue 1px; */
  width: 100%;
  align-items: center;
  margin: 0;
  border: none;
  text-align: left;
  border: none;
  border-bottom: solid black 1px;
  padding-left: 10px;
  /* border-radius: 5px; */
}

.postPicture {
  /* border: solid green 1px; */
  width: 99%;
  border-radius: 3px;
  margin-bottom: 10px;
}

/** Like barre  **/

.likeBarBox {
  /* border: solid red 1px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
}

.likeIconeBox {
  /* border: solid green 1px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.likeIcone {
  /* border: solid blue 1px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--Primary);
}

.nbLike {
  /* border: solid blue 1px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: var(--Primary);
}

.like {
  /* border: solid green 1px; */
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.favoris {
  /* border: solid green 1px; */
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: red;
}

/******************** MesPostsCard ********************/

.handlePostButtonBox {
  /* border: solid red 1px; */
  flex-direction: row;
  justify-content: space-around;
}

.handlePostButton {
  /* border: solid green 1px; */
  width: 45%;
  height: 65px;
  justify-content: center;
}
